TProj.cache/
TProj.hw/
TProj.runs/
TProj.srcs/
TProj.src/xsim.dir
TProj.xpr
TProj.sim/
TProj.ip_user_files/

xsim.dir/

*.bit
*.log
*.jou
*.pb
*.wdb

record0.axi
record1.axi
record2.axi
record3.axi
record4.axi

project_sim/
project_synth/

xsim.dir/

.root
.project
.Xil/
